.login-form {
  width: 25%;
  margin: 5% auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5%;
}

.submit {
  text-align: center;
}

.is-danger {
  color: red;
}

.is-success {
  color: green;
}
