table {
  width: 75%;
  margin: 40px auto;
}

caption {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--main-black-color);
  font-style: italic;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: bold;
}

th,
td {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

td:hover {
  border: 1px solid black;
  background-color: var(--main-blue-color);
  color: white;
}
